phoneWidth = 480px
tabletWidth = 768px
desktopWidth = 1024px

toDesktop = max-width desktopWidth
toTablet = max-width tabletWidth
fromTablet = min-width tabletWidth
fromTabletToDesktop = min-width tabletWidth and max-width desktopWidth
