{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "singleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.less",
            "options": {
                "parser": "less"
            }
        }
    ]
}
