.fonts-loading, .fonts-failed {
	font-family: Impact;
}

.fonts-loaded {
	font-family: 'bebas-neue-regular', 'Open Sans';
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'bebas-neue-regular';
    src: url('bebasneue_regular-webfont.eot');
    src: url('bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('bebasneue_regular-webfont.woff2') format('woff2'), url('bebasneue_regular-webfont.woff') format('woff'), url('bebasneue_regular-webfont.ttf') format('truetype'), url('bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
}


