<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Портфолио</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="TerraForm - 3D моделирование, визуализация и анимация" name="description">
    <meta content="TerraForm" property="og:title">
    <meta content="TerraForm - 3D моделирование, визуализация и анимация" property="og:description">
    <meta content="summary" name="twitter:card"> 
    <link href="assets/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- vendorCSS:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
	<header>
        <div class="wrapper"> 
            <nav class='nav-left'>
                <ul>
                    <li><a href="#about">О компании</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/portfolio">Портфолио</a></li>
                </ul>
            </nav>
            <div class="logo-container">
                <a href="/"><img src="assets/logo.png" alt='logo' class='logo'></a>
            </div>
            <nav class='nav-right'>
                <ul>
                    <li><a href="#partners" >Партнеры</a></li>
                    <li><a href="/blog">Блог</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </nav>
            <button id="sandwich" class="flaticon-menu-button-of-three-horizontal-lines"></button>  
        </div>
        <nav id="mobileMenu">
            <button class="flaticon-delete close"></button>
            <ul>
                <li><a href="#about">О компании</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/portfolio">Портфолио</a></li>
                <li><a href="#partners" >Партнеры</a></li>
                <li><a href="/blog">Блог</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
    	<section class="slider">
			<ul>
				<li><img data-lazy="assets/slider/1.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/2.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/3.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/4.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/1.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/2.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/3.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/4.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/1.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/2.jpg" alt=""></li>
				<li><img data-lazy="assets/slide./r/3.jpg" alt=""></li>
				<li><img data-lazy="assets/slider/4.jpg" alt=""></li>
			</ul>
        </section>
        <section class="service-about">
            <div class="wrapper">
                <div class="service-img">
                    <img src='assets/services/sofa.png'>
                </div>
                <div class="service-description">
                    <h2>3D визуализация интерьера</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptatum quod, consectetur incidunt minus perferendis sequi cumque, odit quo sunt quia adipisci in alias, ipsa! Quia, quam voluptatem pariatur repudiandae.</p>
                </div>
                
            </div>
        </section>
    </main>
    <footer id="contacts">
        <div class="wrapper">
            <div class="contacts">
                <div class="contacts-list contacts-left">
                    <span>Телефон: </span>
                    <span>+38 095 174 62 73</span>
                    <span>+38 099 900 22 36</span>
                    <span>Email: info@terraform.ua</span>
                </div>  
                <div class="about-company">
                    <img class='logo' src='assets/logo.png'>
                    <span>Все права защищены</span>
                    <span>Компания TerraForm 2016-2017</span>
                </div>
                <div class="contacts-list contacts-right">
                    <span>Адрес: Украина, г.Киев, ул.Митрополита Андрея Шептицкого 4</span> 
                    <span>ТЦ "Комод"</span>
                    <button id="showMap">Посмотреть на карте</button>
                    <div id="map">
                        <img src="./assets/map.png" alt="">
                        <button class='close'>Закрыть карту</button>
                    </div>
                </div>
            </div>
            <div class="dive">
                <img class='whale' src='./assets/whale.png'>
                <button id='btnDive'>Погружаемся</button>
                <div class="dive-form">
                    <form class="footer-form">
                        <input 
                            type="text"
                            placeholder="Введите ваше имя"
                            required>
                        <input 
                            type="text"
                            placeholder="Введите ваш номер телефона"
                            required>
                        <button id='send'>Отправить</button>
                    </form>     
                    <button class="whale-rise">Всплыть обратно</button>
                </div>
            </div>
            <div class="copyright">
                Разработал <a href="#" target="_blank">Игорь Соколов</a>
            </div>
        </div>            
    </footer>
    <button id="goUp" class="flaticon-arrow-up"></button>
    <button id="callbackBtn" class="flaticon-phone-symbol-of-an-auricular-inside-a-circle"></button>
    <div id="callbackForm">
        <button class="flaticon-delete close"></button>   
        <form>
            <h2>Обратная связь</h2>
            <input name="name" placeholder="Введите ваше имя" type="text">
            <input name="email" placeholder="Введите ваш номер телефона"
                required="required" type="email">
            <button type="submit" id='sendForm'>Отправить</button>
        </form>    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- vendorJS:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>
