@media(min-width: 1025px) {
    .wrapper {
        width: 1024px;
    }

    header li {
        margin-right: 40px;

        a {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    .slider ul {
        width: 1024px;
        margin: 0 auto;
    }

    .counters .wrapper {
        .clearfix();
        
        .counter {
            float: left;
            width: 32%;
            margin-right: 2%;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    
    .partner {
        width: 22%;
        margin-right: 4%;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }

    .counter {
        margin: 0 auto;
        padding: 5px 0;
    }
}

@media (max-width: 1024px) and (min-width: 481px) {
    .partner {
        width: 30%;
        margin-right: 5%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 769px) {
    header .wrapper {
        .clearfix();
            
        .nav-left, 
        .nav-right,
        .logo-container {
            float: left;
        }

        .nav-left, 
        .nav-right {
            width: 40%;
            text-align: center;
               
            ul {
                font-size: 0;
                
                li {
                    display: inline-block;
                    line-height: 60px;
                    vertical-align: middle;
                        
                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;
                        .text(@main-font, @white);
                    } 
                }
            }
        }

        .logo-container {
            width: 20%;
        }

        #sandwich {
            display: none;
        }
    }

    article,
    section:not(.slider) {
        padding: 40px 0; 
    } 

    .service {
        width: 22%;
        margin-right: 4%;
            
        &:nth-of-type(4n) {
            margin-right: 0;
        }
    } 
        
    .team-member {
        &-name {
            font-size: 25px;
        }

        &-title {
            font-size: 18px;
        }
    }

    #portfolio .wrapper {
        .clearfix();

        .gallery-container {
            float: left;
            width: 48%;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }

    .review {
        .v-align();
            
        &-img, &-post {
            display: inline-block;
            vertical-align: middle;
        }

        &-img {
            width: 20%;
            margin-right: 5%;
        }

        &-post {
            width: 75%;
        }
    }

    #partners .partner {
        width: 22%;
        margin-right: 4%;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .service-details .wrapper {
        .clearfix();

        h2 {
            padding-bottom: 40px;
        }

        .service-plan {
            float: left;
            width: 100/3%;
            border-left: solid 3px #5d7c92;
            box-sizing: border-box;

            &:first-of-type {
                border-left: none;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .wrapper {
            position: relative;

            .nav-right, .nav-left {
                display: none;
            }

            #sandwich {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                .flaticon(30px);
            }
        }

        #mobile-menu {
            position: fixed;
            left: 0;
            z-index: 1001;
            width: 100%;
            padding-right: 5%;
            box-sizing: border-box;
            text-align: right;
            background-color: @header;
            

            .close {
                margin: 10px 0 15px auto;
                .flaticon(25px); 
            }
            
            li {   
                padding-bottom: 15px;
                text-align: right;
                
                a {
                    .text(@main-font, @white);
                    font-size: 25px;
                }
            }
        }
    }

    article,
    section:not(.slider) {
        padding: 25px 0; 
    } 

    .team-member {
        &-name {
            font-size: 20px;
        }

        &-title {
            font-size: 14px;
        }
    }

    .service-plan {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: solid 3px #5d7c92;
    }
}

@media(min-width: 481px) {
    .team-member {
        width: 30%;
        margin-right: 5%;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    .partner {
        float: left;
    }

    .odometer {
        font-size: 60px;
    }
    
    .contacts {
        .clearfix();

        .contacts-left {
            float: left;
            width: 30%;
        }

        .about-company {
            float: left;
            width: 40%;
        }

        .contacts-right {
            float: right;
            width: 30%;
            text-align: right;
        }
    } 
}

@media(max-width: 1024px) and (min-width: 769px) {
    header li {
        margin-right: 25px;

        a {
            font-size: 22px;
        }
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 32px;
    }
}

@media(max-width: 768px) and (min-width: 481px) {
    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    .service {
        width: 30%;
        margin-right: 5%;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}

@media(max-width: 480px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .service, .team-member {
        width: 50%;
    }

    .odometer {
        font-size: 50px;
    }

    footer {
        position: relative;

        .contacts {
            .contacts-list {
                text-align: center;
            }

            .contacts-left {
                padding: 120px 0 10px;

            }

            .about-company {
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translateX(-50%);
            }    
        }
    }
}