<form class="callback-form">
    <h2>{{__ "callbackForm.title"}}</h2>
    <button class="callback-form__close"></button>
    <input name="name" placeholder="{{__ "form.namePlaceholder"}}" type="text">
    <input name="phone" placeholder="{{__ "form.phonePlaceholder"}}"
        type="text">
    <button type="submit">{{__ "form.send"}}</button>
</form>
