<section class="portfolio-carousel">
    <ul class="portfolio-carousel__container">
        {{#each images}}
        <li>
            <img src={{this}}>
            {{#> portfolio-content}}{{/portfolio-content}}
        </li>
        {{/each}}
    </ul>
</section>
