<section class="portfolio">
    <ul class="portfolio__container">
        {{#each images}}
        <li>
            <img src={{this}}>
            {{#> portfolio-content}}{{/portfolio-content}}
        </li>
        {{/each}}
    </ul>
</section>
