<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{__ title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{__ "head.meta.description"}}" name="description">
</head>

{{> header}}
{{{body}}}
{{> footer}}
{{> callbackForm}}

<button id="go-up-btn"></button>
<button id="callback-btn"></button>

</html>
